/* Dark-Mode Navbar */

nav {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    color: #e0e0e0;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    color: #bb86fc;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
